<link rel="stylesheet" href="/css/cadastroFisioterapeuta.css" />
<div class="top">
    <h2>Análise da Sessão</h2>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<div class="campo">
    <div class="campo_obrigatorio">
        <label><i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i> Campos
            obrigatórios</label>
    </div>
</div>
<br>

<div class="form">
    <form method="post">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <label class="my-1 mr-2" for="sessao_id">Selecionar Paciente</label>
                <select name="sessao_id" class="custom-select my-1 mr-sm-2" id="sessao_id">
                    {{#each pacientes}}
                        <option value="{{dataValues.id}}">{{dataValues.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <button type="button" onClick="iniciarAnalise()" class="btn btn-primary button">
                    Iniciar
                </button>
            </div>
        </div>
    </form>
</div>

<script>

function iniciarAnalise() {
        const id = document.getElementById('sessao_id').value;
        fetch(`/paciente/${id}`, {
             method: 'POST',
             headers: { 'Content-type': 'application/json' },
        }).then(ref => {
            window.location.href = `/paciente/${id}`;
        });
    }

</script>