<link rel="stylesheet" href="/css/cadastroFisioterapeuta.css" />
<div class="top">
    <h2>Cadastro Fisioterapeuta</h2>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<div class="campo">
    <div class="campo_obrigatorio">
        <label><i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i> Campos
            obrigatórios</label>
    </div>
</div>
<br>

<div class="form">
    <form method="post" action="/cadastro/fisioterapeuta">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i>
                    <label for="name">Nome</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Digite o nome" />
                </div>
                <div class="col-sm">
                    <i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i>
                    <label for="cpf">CPF</label>
                    <input name="cpf" type="number" class="form-control" id="cpf"
                        placeholder="Digite o CPF" />
                </div>
                <div class="col-sm">
                    <i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i>
                    <label for="data_nascimento">Data de Nascimento</label>
                    <input name="data_nascimento" type="date" class="form-control" id="data_nascimento"
                        placeholder="Digite a data de nascimento" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i>
                    <label for="sexo">Sexo</label>
                    <select name="sexo" class="custom-select my-1 mr-sm-2" id="sexo">
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
                <div class="col-sm">
                    <i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i>
                    <label for="crefito">Crefito</label>
                    <input name="crefito" type="number" class="form-control" id="crefito" placeholder="Digite o crefito" />
                </div>
                <div class="col-sm">
                    <i style="color: #37bbf8;" class="fas fa-info-circle" aria-hidden="true"></i>
                    <label for="fone">Fone</label>
                    <input name="fone" type="number" class="form-control" id="fone" placeholder="Digite o fone" />
                </div>
            </div>
            <div class="row">
                <button onClick="saveSuccessfullRequestToLocalStorage()" type="submit" class="btn btn-primary button">
                    Cadastrar
                </button>
            </div>
        </div>
    </form>
</div>


<script>
    checkSuccessfullRequest();

    function saveSuccessfullRequestToLocalStorage() {
        localStorage.setItem("_success", true);
    }

    function clearSuccessfullRequest() {
        localStorage.removeItem("_success");
    }

    function checkSuccessfullRequest() {
        const successfullRequest = localStorage.getItem("_success");

        if (successfullRequest) {
            alert("Fisioterapeuta cadastrado com sucesso!");
            clearSuccessfullRequest();
        }
    }
</script>