.principal {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 25px;
}

.graph {
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 80px;
    height: 500px;
    margin-bottom: 5px;
}

.dados {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dados h5{
    margin-left: 5px;
}

.dados button {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 200px;
}